<p id="notice"><%= notice %></p>

<h1>Listing Administrators</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |administrator| %>
      <tr>
        <td><%= administrator.name %></td>
        <td><%= administrator.email %></td>
        <td><%= link_to 'Show', [:admin, administrator] %></td>
          <td><%= link_to 'Edit', edit_admin_administrator_path(administrator) %></td>
        <td><%= link_to 'Destroy', [:admin, administrator], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administrator', new_admin_administrator_path %>
