<div class="destaques">
    <h2>Destaques</h2>
    <div class="list-products">
        <ul>
            <% @products.each do |product| %>
                <li>
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                    <div class="name">
                        <span><%= product.name %></span>
                    </div>
                    <div class="value">
                        <span>R$ <%= product.price %></span>
                    </div>

                    <td><%= link_to 'Ver mais', product %></td>
                </li>
            <% end %>
        </ul>
    </div>
    
</div>
