.footer {
    width: 100%;
    padding: 20px;
    color: white;
    background-color: desaturate(darken($action-color, 20%), 30%);
    hr {border: 1px solid transparentize(white, 0.6); width: 500px; margin: 20px auto;}
    i {padding-right: 20px;}
    .footer-infos{
        @include outer-container;
        > div {
            @include span-columns(4);
            @include omega(3n);
        }
        ul {
            margin-bottom: 20px;
            li {padding: 0 20px; color: transparentize(white, 0.6);}
            h3{color: white;}
        }
        .contatos {
            padding: 20px 0;
            .telefone {
                font-size: 30px;
            }       
        }

    }
    .rodape{
        color: transparentize(white, 0.6);
        text-align: center;
    }

}
