header {
    width: 100%;
    display: inline-block;
    background-color: desaturate(darken($action-color, 20%), 30%);
    color: #fff;
    h1 {
        float: left;
        padding: 10px;
    }
    nav {
        float: right;
        li {
            float: left;
            padding: 10px;
        }
    }
}