.destaques {
    @include outer-container;
    h2 {
       @include span-columns(12); 
    }    
}

.list-products {
    @include outer-container;
    li{
        @include span-columns(3);
        @include omega(4n);
        float: left;
        text-align: center;
        img {
            width: 100%;
        }
    }
}