<!DOCTYPE html>
<html>
<head>
  <title>Maresi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="centered-navigation" role="banner">
        <h1 class="logo">Maresi</h1>
        <nav>
            <ul>
                <li>Quem somos</li>
                <li>Onde estamos</li>
                <li>Contato</li>
            </ul>
        </nav>
    </header>

   
    <%= yield %>

    <footer class="footer">
        <div class="footer-infos">
            <div>
                <ul>
                    <li>
                        <h3>Mais Informaçôes</h3>
                    </li>
                    <li>
                        <i class="fa fa-map-marker"></i><span>Onde Estamos</span>
                    </li>
                    <li>
                        <i class="fa fa-wrench"></i><span>Serviços</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i><span>Contatos</span>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <h3>Formas de Pagamento</h3>
                    </li>
                    <li>
                        <i class="fa fa-barcode"></i><span>Boleto</span>
                    </li>
                    <li>
                        <i class="fa fa-credit-card"></i><span>Cartão de Credito</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h3>Redes Sociais</h3>
                   </li>
                    <li>
                        <i class="fa fa-facebook"></i><span>Facebook</span>
                    </li>
                </ul>
            </div>
            <div>
                <div class="contatos">
                    <div class="telefone"><i class="fa fa-phone"></i>(11) 2742-7598</div>
                    <div class="endereco"><i class="fa fa-map"></i>Rua Nome da rua, numero</div>
                </div>

            </div>
        </div>
        <hr/>
        <div class="rodape">
            <span>Maresi - 2015</span>
        </div>
    </footer>    
</body>
</html>
